﻿@model ViewModel.MasterDetails.Course


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="page">
        <div class="page-header">
            <h1 class="page-title">Course</h1>
            <div class="page-header-actions">
                <a href="@Url.Action("CourseSelect", "Course")"><input type="button" value="Back to List" class="btn btn-primary" /></a>
            </div>
        </div>
        <div class="page-content">
            <!-- Panel Form Elements -->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Course</h3>
                </div>
                <div class="panel-body">
                    <div class="row row-lg">
                        <div class="col-sm-12">
                            <h4 class="example-title"></h4>
                            @Html.ValidationSummary(true)
                            <div class="row">
                                @Html.LabelFor(model => model.CourseName, new { @class = "control-label col-md-2" })
                                <div class="form-group col-md-4">
                                    @Html.TextBoxFor(model => model.CourseName, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(model => model.StreamID, new { @class = "control-label col-md-2" })
                                <div class="form-group col-md-4">
                                    @Html.DropDownListFor(model => model.StreamID, (ViewBag.Streams as List<ViewModel.MasterDetails.Streams>).Select(x => new SelectListItem() { Text = x.StreamName, Value = x.StreamID.ToString() }), "--SELECT--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.StreamID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row example example-buttons">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </div>
                            @if (ViewBag.Message == true)
                            {
                                <div class="alert alert-success">
                                    <strong>Course has been added!</strong>
                                </div>
                            }
                        </div>
                        <div class="clearfix hidden-xs">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
