﻿@model ViewModel.MasterDetails.Streams


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">Streams</h1>
            <div class="page-header-actions">
                <a href="@Url.Action("GetAllStreams", "Master")"><input type="button" value="Back to List" class="btn btn-primary" /></a>
            </div>
        </div>
        <div class="page-content">
            <!-- Panel Form Elements -->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Stream</h3>
                </div>
                <div class="panel-body container-fluid">
                    <div class="row row-lg">
                        <div class="col-sm-12">
                            <h4 class="example-title"></h4>
                            @Html.ValidationSummary(true)
                            <div class="row">
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.StreamName, new { @class = "control-label" })
                                </div>
                                <div class="form-group col-sm-4">
                                    @Html.TextBoxFor(model => model.StreamName,null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.StreamName)
                                </div>
                            </div>
                            <div class="row example example-buttons">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </div>
                            @if (ViewBag.Message == true)
                            {
                                <div class="alert alert-success">
                                    <strong>Stream has been added!</strong>
                                </div>
                            }
                        </div>
                        <div class="clearfix hidden-xs">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}



@*<div>
        @Html.ActionLink("Back to List", "GetAllStreams")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
