﻿@model ViewModel.MasterDetails.Streams


@using (Html.BeginForm("updateStream", "Master", FormMethod.Post,
                                      new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">Streams</h1>
            <div class="page-header-actions">
                <a href="@Url.Action("GetAllStreams", "Master")"><input type="button" value="Back to List" class="btn btn-primary" /></a>
            </div>
        </div>
        <div class="page-content">
            <!-- Panel Form Elements -->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Update Stream</h3>
                </div>
                <div class="panel-body container-fluid">
                    <div class="row row-lg">
                        <div class="col-sm-12">
                            <h4 class="example-title"></h4>
                            @Html.ValidationSummary(true)

                            <div class="row">
                                @Html.LabelFor(model => model.StreamName, new { @class = "control-label col-md-2" })
                                <div class="form-group col-md-4">
                                    @Html.TextBoxFor(model => model.StreamName, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.StreamName)
                                </div>
                            </div>

                            <div class="row example example-buttons">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Update" class="btn btn-primary" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
