﻿@model ViewModel.StudentDetails.StudentViewModel

@{
    ViewBag.Title = "addEnquiryView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Enquiry/EnquiryScript.js"></script>
@using (Html.BeginForm("AddEnquiry", "Enquiry", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">Enquiry</h1>
            <div class="page-header-actions">
                <a href="@Url.Action("Index", "Enquiry")"><input type="button" value="Back to List" class="btn btn-primary" /></a>
            </div>
        </div>
        <div class="page-content">
            <div class="row">
                <div class="col-sm-8">
                    <div class="panel">
                        <div class="panel-body">
                            <h4>
                                Personal Information
                            </h4>
                            <div class="row">
                                <div class="col-sm-2">Name</div>
                                <div class="form-group col-sm-4">
                                    @Html.TextBoxFor(model => model.FirstName, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-sm-2">@*<input id="Text1" type="text" name="MiddleName" placeholder="Middle Name" class="form-control" />*@</div>
                                <div class="form-group col-sm-4">
                                    @Html.TextBoxFor(model => model.LastName, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">Gender</div>
                                <div class="form-group col-sm-4">
                                    @Html.RadioButtonFor(model => model.Gender, "Male")@Html.Label("Male")
                                    @Html.RadioButtonFor(model => model.Gender, "FeMale")@Html.Label("Female")
                                    <br />
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-2">Mobile No.</div>
                                <div class="form-group col-sm-4">
                                    @Html.TextBoxFor(model => model.MobileNo, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @*<div class="row">
                                    <div class="col-sm-2">Mobile No.</div>
                                    <div class="form-group col-sm-4"><input id="Text1" name="MobileNo" type="text" class="form-control" /></div>
                                    <div class="col-sm-2">Phone No.</div>
                                    <div class="form-group col-sm-4"><input id="Text1" name="PhoneNo" type="text" class="form-control" /></div>
                                </div>*@
                            <div class="row">
                                <div class="col-sm-2">Email</div>
                                <div class="form-group col-sm-4">@Html.TextBoxFor(model => model.Email, null, new { @class = "form-control" })</div>
                                <div class="col-sm-2">Aadhar No.</div>
                                <div class="form-group col-sm-4">@Html.TextBoxFor(model => model.Aadhar, null, new { @class = "form-control" })</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">Father Name</div>
                                <div class="form-group col-sm-4">@Html.TextBoxFor(model => model.FatherName, null, new { @class = "form-control" })</div>
                                <div class="col-sm-2">Father Mobile</div>
                                <div class="form-group col-sm-4">@Html.TextBoxFor(model => model.FatherMobile, null, new { @class = "form-control" })</div>
                            </div>
                            <h4>
                                Address Information
                            </h4>
                            <div class="row">
                                <div class="col-sm-2">Address</div>
                                <div class="form-group col-sm-4">@Html.TextAreaFor(model => model.Address, new { @class = "form-control" })</div>
                                <div class="col-sm-2">Landmark</div>
                                <div class="form-group col-sm-4">@Html.TextAreaFor(model => model.Landmark, new { @class = "form-control" })</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">Country</div>
                                <div class="form-group col-sm-4">
                                    @Html.DropDownListFor(model => model.CountryId, (ViewBag.Country as List<ViewModel.MasterDetails.CountryViewModel>).Select(s => new SelectListItem() { Text = s.CountryName, Value = s.CountryId.ToString() }), "--select--", new { @class = "form-control" })
                                </div>
                                <div class="col-sm-2">State</div>
                                <div class="form-group col-sm-4">
                                    <select id="State" class="form-control"><option value="0">--Select--</option></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">City</div>
                                <div class="form-group col-sm-4">
                                    <select id="City" class="form-control"><option value="0">--Select--</option></select>
                                </div>
                                @*<div class="col-sm-2">Pincode</div>
                                    <div class="form-group col-sm-4">@Html.TextBoxFor(model => model.Pincode, null, new { @class = "form-control" })</div>*@
                            </div>
                            @*<div class="row">
                                    <div class="col-sm-2">Cast</div>
                                    <div class="form-group col-sm-4"><input id="Text1" name="Cast" type="text" class="form-control" /></div>
                                    <div class="col-sm-2">School</div>
                                    <div class="form-group col-sm-4"><input id="Text1" name="School" type="text" class="form-control" /></div>
                                </div>*@
                            <div class="row example example-buttons">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <input id="Submit1" type="submit" value="Save" class="btn btn-primary " />
                                    <input id="Submit1" type="submit" value="Cancel" class="btn btn-default " />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel">
                        <div class="panel-body">
                            <h4>
                                Enquiry Information
                            </h4>
                            <div class="row">
                                <div class="col-sm-4">Enquiry Date</div>
                                <div class="form-group col-sm-8" id="enquirydate">
                                    @Html.TextBoxFor(model => model.EnquiryDate, null, new { @class = "form-control", @data_plugin = "datepicker" })
                                    @Html.ValidationMessageFor(model => model.EnquiryDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">Academic Year</div>
                                <div class="form-group col-sm-8">
                                    <select id="AcademicYear" name="AcademicDate" class="form-control">
                                        <option value="0">--Select--</option>
                                        <option value="1">2016-17</option>
                                        <option value="2">2017-18</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">Course</div>
                                <div class="form-group col-sm-8">
                                    @*<select id="Course" name="Course" class="form-control">
                                            <option value="0">--Select--</option>
                                            <option value="1">10</option>
                                            <option value="2">11</option>
                                            <option value="3">12</option>
                                        </select>*@
                                    @Html.DropDownListFor(model => model.Course, (ViewBag.Course as List<ViewModel.MasterDetails.Course>).Select(s => new SelectListItem() { Text = s.CourseName, Value = s.CourseID.ToString() }), "--select--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Course, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @*<div class="row">
                                    <div class="col-sm-4">Source</div>
                                    <div class="form-group col-sm-8">
                                        @Html.TextBoxFor(model => model.Source, null, new { @class = "form-control" })
                                    </div>
                                </div>*@
                            @*<div class="row">
                                    <div class="col-sm-4">Assigned To</div>
                                    <div class="form-group col-sm-8">
                                        @Html.TextBoxFor(model => model.AssignedTo, null, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.AssignedTo, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@
                            <div class="row">
                                <div class="col-sm-4">Follow up Date</div>
                                <div class="form-group col-sm-8">
                                    @Html.TextBoxFor(model => model.FollowUpDate, null, new { @class = "form-control", @data_plugin = "datepicker" })
                                    @Html.ValidationMessageFor(model => model.FollowUpDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">Description</div>
                                <div class="form-group col-sm-8">
                                    @Html.TextAreaFor(model => model.EnquiryDescription, new { @class = "form-control" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
