﻿@model IEnumerable<ViewModel.StudentDetails.StudentViewModel>

<script>
    $(document).ready(function () {
        $('#studentTable').DataTable();
    });
</script>
<div class="page ">
    <div class="page-header">
        <h1 class="page-title">Enquiry</h1>
        <div class="page-header-actions">
            <a href="@Url.Action("AddEnquiry", "Enquiry")"><input type="button" class="btn btn-primary" value="Add Enquiry" /></a>
        </div>
    </div>
    <div class="page-content">
        <!-- Panel Form Elements -->
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Enquiry List</h3>
            </div>
            <div class="panel-body container-fluid">

                <table class="table table-striped table-bordered table-hover" id="studentTable" style="width:100%;">
                    <thead class="thead-default">
                        <tr>
                            <th class="studentHeader">Student Name</th>
                            <th class="studentHeader">Email</th>
                            <th class="studentHeader">Mobile Number</th>
                            <th class="studentHeader">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var studentData in Model)
                        {
                        <tr>
                            <td>@studentData.FirstName</td>
                            <td>@studentData.Email</td>
                            <td>@studentData.MobileNo</td>
                            <td>
                                @Html.ActionLink("Not Joined", "moveStudentToNotJoined", new { id = @studentData.StudentID }, new { @class = "btn-outline" })   |

                                @Html.ActionLink("Move to adminssion", "moveStudentToAdmission", new { id = @studentData.StudentID }, new { onclick = "return confirm('Confirm Admission');" })
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
