﻿@model IEnumerable<ViewModel.StudentDetails.StudentViewModel>

@{
    ViewBag.Title = "getAllStudentsIsNotJoined";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnquiryDate)
        </th>
    
      
        <th>
            @Html.DisplayNameFor(model => model.MobileNo)
        </th>
       
   
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnquiryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course)
        </td>
      
    </tr>
}

</table>
